body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
html {
  /* The image used */
  background-image: url(/public/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}


